.globalcard {
    width: 433px;
    height: auto;
    padding: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    display: inline-flex;
}

.shorttitle {
    width: 403px;
    left: 0px;
    position: relative;
    color: #578397;
    font-size: 21px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 39.60px;
    word-wrap: break-word;
    margin-bottom: 30px;
}

.placestatus {
  width: 403px;
  left: 0px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: inline-flex;
  margin-bottom: 10px;
}

.textstatus {
  width: 77px;
  text-align: center;
  vertical-align: middle;
  color: #FAFAFA;
  font-size: 10px;
  font-family: Roboto;
  font-weight: 600;
  word-wrap: break-word;
  border-radius: 20px;
}

.placemaininfo {
  width: 403px;
  height: 114px;
  padding-top: 12px;
  padding-bottom: 12px;
  left: 0px;
  top: 144px;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1px;
  display: inline-flex;
  margin-bottom: 30px;
}

.placemaininfotitle {
  width: 403px;
  height: 49px;
  justify-content:
  flex-start;
  align-items: center;
  display: inline-flex
}

.maininfotitle {
  width: 111px;
  height: 40px;
  text-align: center;
  color: #578397;
  font-size: 11px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 12px;
  word-wrap: break-word
}

.placemaininfotext {
  width: 403px;
  height: 49px;
  justify-content: flex-start;
  align-items: center;
  gap: 31px;
  display: inline-flex
}

.maininfotext {
  width: 111px;
  height: 40px;
  text-align: center;
  color: #57544C;
  font-size: 11px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 12px;
  word-wrap: break-word
}

.alltitle {
  width: 403px;
  height: 25px;
  color: #578397;
  font-size: 11px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 12px;
  word-wrap: break-word;
  padding-top: 3px;
  padding-bottom: 3px;
  left: 0px;
}

.alltext {
  width: 403px;
  color: black;
  font-size: 11px;
  font-family: Roboto;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0.11px;
  word-wrap: break-word;
  margin-bottom: 10px
}

.budgettext {
  width: 403px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 800;
  line-height: 12px;
  letter-spacing: 0.22px;
  word-wrap: break-word;
  margin-bottom: 30px
}
