.ch-map {
  height: 100vh; /* 100% of the viewport height */
}

/* No padding around map */
.container-fluid {
  padding: 0px;
}
.container-map .col-sm-9 {
  padding: 0px;
}

.container-project {
  padding: 15px;
}
